<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kết quả Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles_result_video.css') }}">
</head>
<body>
    <h1>Kết quả Video đã xử lý</h1>
    <div>
        <video controls width="1020" height="600">
            <source src="{{ url_for('static', filename='results/' + filename) }}" type="video/mp4">
            Trình duyệt của bạn không hỗ trợ thẻ video.
        </video>        
    </div>
    <a href="/">Trở về trang chủ</a>
</body>
</html>
